<% unless @weapon.nil? %>
    <p><%= @weapon.name %></p>
    <p><%= @weapon.description %></p>
    <p><%= @weapon.power_base %></p>
    <p><%= @weapon.power_step %></p>
    <p><%= @weapon.level %></p>
    <p><%= @weapon.title %></p>
    <p><%= @weapon.current_power %></p>
<% end %>
